
services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - '5000:5000'
    volumes:
      - ./backend:/app
    container_name: image-visualizer-backend
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - '3000:80'
    container_name: image-visualizer-frontend